# virtual environment
/venv

#param cards
/params/** 
!/params/data.yaml
!/params/train.yaml
!/params/plot.yaml


#egg file
21cm_pie.egg-info

#output files

# Ignore all output except the trained models for noise and simulations
!output/
output/*
!output/best_sim/
!output/best_noise/
output/best_sim/*
output/best_noise/*
!output/best_sim/models/
!output/best_noise/models/


# cache from 21cmFAST
/.cache

# data
/data/** 

# tests
/tests/**

# python things
__pycache__/
**/__pycache__/